<div th:fragment="landing" class="py-16">
    <!-- New Section: Scam Prevention -->
    <section class="bg-gradient-to-l from-gray-900 to-black py-16">
        <div class="max-w-5xl mx-auto text-center px-4">
            <h2 class="text-4xl font-bold text-blue-500 mb-12">Help us keep you safe from scams</h2>
            <div class="max-w-3xl mx-auto mb-6">
                <img src="https://cdn.blablacar.com/k/a/images/scamDetective-80f3a8463074443b.svg" alt="Scam Prevention" class="mx-auto" width="496px" height="377px">
            </div>
            <p class="text-gray-400 text-lg mb-6">At BlaBlaCar, we're working hard to make our platform as secure as it can be. But when scams do happen, we want you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.</p>
            <a href="/scam" class="text-xl text-blue-500 hover:underline">Learn more</a>
        </div>
    </section>

    <!-- How It Works Section -->
    <section class="bg-gradient-to-l from-gray-900 to-black py-16">
        <div class="max-w-5xl mx-auto text-center px-4">
            <h2 class="text-4xl font-bold text-blue-500 mb-12">How RideX Works</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
                <div class="p-6 bg-gray-800 rounded-lg shadow-md hover:bg-blue-800 transition duration-300 ease-in-out transform hover:scale-105">
                    <h3 class="text-xl font-semibold text-blue-400 mb-5">Find a Ride</h3>
                    <p class="text-gray-400">Search for available rides based on your location and date.</p>
                </div>
                <div class="p-6 bg-gray-800 rounded-lg shadow-md hover:bg-green-800 transition duration-300 ease-in-out transform hover:scale-105">
                    <h3 class="text-xl font-semibold text-green-400 mb-5">Offer a Ride</h3>
                    <p class="text-gray-400">Post your upcoming trip and offer seats to other users.</p>
                </div>
                <div class="p-6 bg-gray-800 rounded-lg shadow-md hover:bg-purple-800 transition duration-300 ease-in-out transform hover:scale-105">
                    <h3 class="text-xl font-semibold text-purple-400 mb-5">Book & Ride</h3>
                    <p class="text-gray-400">Book a ride, share the trip, and enjoy the benefits of carpooling.</p>
                </div>
            </div>
        </div>
    </section>
</div>