<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Login</title>
</head>

<body>
<div id="content" class="dark:bg-gray-900">
    <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
        <div class="grid md:grid-cols-2 items-center gap-10 max-w-6xl max-md:max-w-md w-full">
            <div>
                <h2 class="lg:text-5xl text-3xl font-bold lg:leading-[57px] text-slate-900 dark:text-white">
                    Seamless Login for Exclusive Access
                </h2>
                <p class="text-sm mt-6 text-slate-500 leading-relaxed">
                    Immerse yourself in a hassle-free login journey with our intuitively designed login form.
                    Effortlessly access your account.
                </p>
                <p class="text-sm mt-12 text-slate-500">
                    Don't have an account <a th:href="@{'/signup'}" class="text-blue-600 font-medium hover:underline ml-1">Register here</a>
                </p>
            </div>

            <div class="max-w-md md:ml-auto w-full">

                <h3 class="dark:text-white text-slate-900 lg:text-3xl text-2xl font-bold mb-8">
                    Sign in
                </h3>
                <div th:insert="~{fragments/message::messagebox}"></div>

                <div class="text-red-600 text-center my-3" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="text-green-600 text-center my-3" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form method="post" th:action="@{'/authenticate'}">
                    <div class="space-y-6">
                        <div>
                            <label class='dark:text-white text-sm text-slate-800 font-medium mb-2 block'>Email</label>

                            <input name="email"
                                   type="email"
                                   class="bg-white dark:bg-slate-800 w-full text-sm text-slate-800 dark:text-white px-4 py-3 rounded-md outline-none border border-slate-200 dark:border-slate-700 transition-all duration-200 ease-in-out hover:border-slate-300 dark:hover:border-slate-600 focus:border-blue-600 focus:bg-white dark:focus:bg-slate-800 focus:ring-2 focus:ring-blue-100"
                                   placeholder="Enter Email"
                                   required
                            />
                        </div>
                        <div>
                            <label class='dark:text-white text-sm text-slate-800 font-medium mb-2 block'>Password</label>

                            <input name="password"
                                   type="password"
                                   class="bg-white dark:bg-slate-800 w-full text-sm text-slate-800 dark:text-white px-4 py-3 rounded-md outline-none border border-slate-200 dark:border-slate-700 transition-all duration-200 ease-in-out hover:border-slate-300 dark:hover:border-slate-600 focus:border-blue-600 focus:bg-white dark:focus:bg-slate-800 focus:ring-2 focus:ring-blue-100"
                                   placeholder="Enter Password"
                                   required
                            />
                        </div>
                        <div class="flex flex-wrap items-center justify-between gap-4">
                            <div class="flex items-center">
                                <input id="remember-me" name="remember-me" type="checkbox"
                                       class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-slate-300 rounded" />
                                <label for="remember-me" class="ml-3 block text-sm text-slate-500">
                                    Remember me
                                </label>
                            </div>
                            <div class="text-sm">
                                <a th:href="@{'/forgot-password'}" class="text-blue-600 hover:text-blue-500 font-medium">
                                    Forgot your password?
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="!mt-12">
                        <button type="submit" class="w-full shadow-xl py-2.5 px-4 text-sm font-semibold rounded text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                            Log in
                        </button>
                    </div>

                </form>

                <div class="my-4 flex items-center gap-4">
                    <hr class="w-full border-slate-300" />
                    <p class="text-white text-sm text-slate-800 text-center">or</p>
                    <hr class="w-full border-slate-300" />
                </div>

                <div class="space-x-6 flex justify-center">
                    <a th:href="@{'/oauth2/authorization/google'}" type="button" class="border-none outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512">
                            <path fill="#fbbd00"
                                  d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z" />
                            <path fill="#0f9d58"
                                  d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z" />
                            <path fill="#31aa52"
                                  d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z" />
                            <path fill="#3c79e6"
                                  d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z" />
                            <path fill="#cf2d48"
                                  d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z" />
                            <path fill="#eb4132"
                                  d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z" />
                        </svg>
                    </a>
                    <a th:href="@{'/oauth2/authorization/github'}" type="button" class="border-none outline-none">
                        <svg width="22px" xmlns="http://www.w3.org/2000/svg" class="inline shrink-0 mr-4"
                             viewBox="0 0 98 98">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
                                  fill="#fff" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    console.log("Login Page");
</script>
</html>
