<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Team - RideX</title>
</head>

<body>
<div id="content">
<section class="py-30 pb-80 bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our team</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Explore the whole collection of
                open-source web components and elements built with the utility classes from Tailwind</p>
        </div>
        <div class="flex flex-wrap justify-center gap-8 md:gap-8 lg:gap-16">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                     src="https://media.licdn.com/dms/image/v2/D5603AQF8jmOg4Ly7Kw/profile-displayphoto-shrink_400_400/B56Zc5crydHoAk-/0/1749015510862?e=1755129600&v=beta&t=xozGI5fnh2bZdgLvRV9xvwhPdGbGkwQrkeBK2Z39Q5c"
                     alt="Dr. Rashmi Sharma">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Dr. Rashmi Sharma
                </h3>
                <p>Project Guide</p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.linkedin.com/in/rashmitrivedi/" target="_blank"
                           class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                 fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path
                                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                                </path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                     src="https://res.cloudinary.com/dncwofeyw/image/upload/c_pad,b_gen_fill,w_300,h_300/v1749327446/WhatsApp_Image_2025-06-08_at_00.47.01_fd6475b0_kluv8i.jpg"
                     alt="Geetika Singh">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Geetika Singh
                </h3>
                <p style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
                    Promethues/Grafana Monitoring
                </p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.linkedin.com/in/geetika-singh-1b0100238/" target="_blank"
                           class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                 fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path
                                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/GeetikaSingh29" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/geetika_singh10?igsh=aGQwMDA4b2lrZDls" target="_blank" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <defs>
                                    <linearGradient id="instaGradient" x1="1" y1="1" x2="23" y2="23" gradientUnits="userSpaceOnUse">
                                        <stop offset="0%" stop-color="#feda75" />
                                        <stop offset="50%" stop-color="#d62976" />
                                        <stop offset="100%" stop-color="#4f5bd5" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#instaGradient)" d="M7.5 2C5.01472 2 3 4.01472 3 6.5v11C3 19.9853 5.01472 22 7.5 22h9c2.4853 0 4.5-2.0147 4.5-4.5v-11C21 4.01472 18.9853 2 16.5 2h-9zm0 2h9c1.3807 0 2.5 1.11929 2.5 2.5v11c0 1.3807-1.1193 2.5-2.5 2.5h-9C6.11929 20 5 18.8807 5 17.5v-11C5 5.11929 6.11929 4 7.5 4zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.75-2a.75.75 0 100 1.5.75.75 0 000-1.5z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                     src="https://res.cloudinary.com/dncwofeyw/image/upload/c_pad,b_gen_fill,w_300,h_300/v1749322619/1000220347_l6prd7.jpg"
                     alt="Simran Upadhyay">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Simran Upadhyay
                </h3>
                <p>Report, PPT and Research</p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.linkedin.com/in/simran-upadhyay-202099288/" target="_blank"
                           class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                 fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path
                                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Simranap21" target="_blank" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/simranupadhyay?igsh=MTQzb3A1eDBvdTFucQ==" target="_blank" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <defs>
                                    <linearGradient id="instaGradient" x1="1" y1="1" x2="23" y2="23" gradientUnits="userSpaceOnUse">
                                        <stop offset="0%" stop-color="#feda75" />
                                        <stop offset="50%" stop-color="#d62976" />
                                        <stop offset="100%" stop-color="#4f5bd5" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#instaGradient)" d="M7.5 2C5.01472 2 3 4.01472 3 6.5v11C3 19.9853 5.01472 22 7.5 22h9c2.4853 0 4.5-2.0147 4.5-4.5v-11C21 4.01472 18.9853 2 16.5 2h-9zm0 2h9c1.3807 0 2.5 1.11929 2.5 2.5v11c0 1.3807-1.1193 2.5-2.5 2.5h-9C6.11929 20 5 18.8807 5 17.5v-11C5 5.11929 6.11929 4 7.5 4zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.75-2a.75.75 0 100 1.5.75.75 0 000-1.5z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                     src="https://res.cloudinary.com/dncwofeyw/image/upload/c_pad,b_gen_fill,w_300,h_300/v1749323458/WhatsApp_Image_2025-06-08_at_00.40.31_0f5d0b5c_r2bqmy.jpg"
                     alt="Prashant Saini">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Prashant Saini
                </h3>
                <p>Backend Developer</p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.linkedin.com/in/prashantsaini0909/" target="_blank"
                           class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                 fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path
                                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.github.com/atomhudson" target="_blank" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/idhruv_9?igsh=c2lrdnJ4MW02ZW01&utm_source=qr" target="_blank" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <defs>
                                    <linearGradient id="instaGradient" x1="1" y1="1" x2="23" y2="23" gradientUnits="userSpaceOnUse">
                                        <stop offset="0%" stop-color="#feda75" />
                                        <stop offset="50%" stop-color="#d62976" />
                                        <stop offset="100%" stop-color="#4f5bd5" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#instaGradient)" d="M7.5 2C5.01472 2 3 4.01472 3 6.5v11C3 19.9853 5.01472 22 7.5 22h9c2.4853 0 4.5-2.0147 4.5-4.5v-11C21 4.01472 18.9853 2 16.5 2h-9zm0 2h9c1.3807 0 2.5 1.11929 2.5 2.5v11c0 1.3807-1.1193 2.5-2.5 2.5h-9C6.11929 20 5 18.8807 5 17.5v-11C5 5.11929 6.11929 4 7.5 4zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.75-2a.75.75 0 100 1.5.75.75 0 000-1.5z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                     src="https://res.cloudinary.com/dncwofeyw/image/upload/c_pad,b_gen_fill,w_300,h_300/v1749327446/WhatsApp_Image_2025-06-08_at_00.48.06_48374581_cttrpt.jpg"
                     alt="Shikhar Rai">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Shikhar Rai
                </h3>
                <p>Frontend Developer</p>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a href="https://www.linkedin.com/in/shk13/" target="_blank"
                           class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                 fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path
                                        d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Shikharr696" target="_blank" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                      clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/shk__03?igsh=MTg3amQzeTZuZzRjcw==" target="_blank" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <defs>
                                    <linearGradient id="instaGradient" x1="1" y1="1" x2="23" y2="23" gradientUnits="userSpaceOnUse">
                                        <stop offset="0%" stop-color="#feda75" />
                                        <stop offset="50%" stop-color="#d62976" />
                                        <stop offset="100%" stop-color="#4f5bd5" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#instaGradient)" d="M7.5 2C5.01472 2 3 4.01472 3 6.5v11C3 19.9853 5.01472 22 7.5 22h9c2.4853 0 4.5-2.0147 4.5-4.5v-11C21 4.01472 18.9853 2 16.5 2h-9zm0 2h9c1.3807 0 2.5 1.11929 2.5 2.5v11c0 1.3807-1.1193 2.5-2.5 2.5h-9C6.11929 20 5 18.8807 5 17.5v-11C5 5.11929 6.11929 4 7.5 4zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm4.75-2a.75.75 0 100 1.5.75.75 0 000-1.5z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
<script>
    console.log("Team Page");
</script>
</body>

</html>